@use '@styles/index.scss' as *;

.root {
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.title {
  width: calc(642px * var(--page-scale));
  position: absolute;
  top: calc(1826px * var(--page-scale));
  left: calc(105px * var(--page-scale));
}

.body {
  width: calc(711px * var(--page-scale));
  max-height: calc(566px * var(--page-scale));
  position: absolute;
  top: calc(1654px * var(--page-scale));
  left: calc(803px * var(--page-scale));
  display: flex;
  flex-direction: column;
  gap: calc(40px * var(--page-scale));
  overflow: hidden;
}
