@use '@styles/index.scss' as *;

.root {
  position: absolute;
  z-index: 0;
  inset: 0;
  pointer-events: none;
}

.panel {
  width: calc(462px * var(--page-scale));
  height: calc(1511px * var(--page-scale));
  position: absolute;
  top: calc(225px * var(--page-scale));
  left: 50%;
  background-color: $surface-gray;
  transform: translateX(-50%);
}

.image {
  width: calc(414.81px * var(--page-scale));
  height: calc(1531px * var(--page-scale));
  position: absolute;
  top: calc(257px * var(--page-scale));
  left: calc(584px * var(--page-scale));
  display: block;
  object-fit: contain;
  object-position: bottom center;
  pointer-events: none;
}
