@use '@styles/index.scss' as *;

.root {
  width: figma(356);
  height: figma(358);
  position: absolute;
  top: figma(10);
  left: figma(33);
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center;
}
