@use '@styles/index.scss' as *;

.headerNav {
  margin: auto;
  width: calc(189px * var(--ui-scale));
  height: calc(22px * var(--ui-scale));
  position: relative;
  display: flex;
  align-items: stretch;
  border-radius: calc($border-radius-md * var(--ui-scale));
  background-color: rgba($black, 0.2);
  transition:
    opacity 900ms cubic-bezier(0.22, 1, 0.36, 1),
    transform 650ms cubic-bezier(0.22, 1, 0.36, 1);
  transform: translateY(calc(-4px * var(--ui-scale)));
  backdrop-filter: blur(10px);
  isolation: isolate;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
}

.headerNavVisible {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
