@use '@styles/index.scss' as *;

.root {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.title {
  width: calc(793px * var(--page-scale));
  position: absolute;
  top: calc(104px * var(--page-scale));
  left: calc(78px * var(--page-scale));
  pointer-events: auto;
}

.pageNumber {
  margin: 0;
  width: calc(107px * var(--page-scale));
  position: absolute;
  top: calc(117px * var(--page-scale));
  left: calc(1419px * var(--page-scale));
  color: $black;
  font-size: calc(43.603px * var(--page-scale));
  line-height: 1.45;
  font-family: $font-family-regular;
  font-weight: $font-weight-regular;
  letter-spacing: calc(-0.8721px * var(--page-scale));
  text-align: right;
  text-transform: uppercase;
  white-space: nowrap;
}
