@use '@styles/index.scss' as *;

.root {
  width: figma(324);
  height: figma(351);
  position: absolute;
  top: figma(164);
  left: figma(18);
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center top;
}
