@use '@styles/index.scss' as *;

.root {
  @include page-template-artboard;

  > :not(.main) {
    flex-shrink: 0;
  }
}

.main {
  padding: calc(28px * var(--page-scale)) calc(228px * var(--page-scale)) 0
    calc(109px * var(--page-scale));
  min-height: 0;
  display: grid;
  flex: 1 1 auto;
  align-items: stretch;
  grid-template-columns:
    calc(437px * var(--page-scale))
    calc(844px * var(--page-scale));
  grid-template-rows: minmax(0, 1fr);
  column-gap: calc(8px * var(--page-scale));
}
