@use '@styles/index.scss' as *;

.tabs {
  display: flex;
  width: 100%;
  height: calc(36px * var(--ui-scale));
  border-radius: 100px;
  background-color: #f8f8f8;
}

.tab {
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 calc(12px * var(--ui-scale));
  border: none;
  border-radius: 100px;
  background: transparent;
  font-size: calc(14px * var(--ui-scale));
  font-weight: $font-weight-medium;
  line-height: 1;
  color: rgb(0 0 0 / 50%);
  cursor: pointer;
}

.tabActive {
  background-color: #dbff00;
  color: #000;
}
