@use '@styles/index.scss' as *;

.root {
  padding: 0 calc(109px * var(--page-scale));
  width: 100%;
  position: absolute;
  top: calc(1603px * var(--page-scale));
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.column {
  padding: 0;
  margin: 0;
  width: calc(465px * var(--page-scale));
  display: flex;
  flex-direction: column;
  gap: calc(27px * var(--page-scale));
  list-style: none;
}

.columnRight {
  text-align: right;
}

.item {
  margin: 0;
  color: $black;
  font-size: calc(39.835px * var(--page-scale));
  line-height: 1.45;
  font-family: $font-family-regular;
  font-weight: $font-weight-regular;
  letter-spacing: calc(-0.7967px * var(--page-scale));
  overflow-wrap: break-word;
  text-transform: uppercase;
}
