@use '@styles/index.scss' as *;

.canvas {
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
  filter: drop-shadow(
    0 calc(18px * var(--ui-scale)) calc(40px * var(--ui-scale)) rgb(0 0 0 / 45%)
  );
}
