@use "@styles/index.scss" as *;

$subtitle: rgba(211, 235, 255, 0.6);

.section {
  display: flex;
  flex-direction: column;
  gap: calc(16px * var(--ui-scale));
  align-items: flex-start;
  width: 100%;
  max-width: 768px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: calc(8px * var(--ui-scale));
  width: 100%;
}

.header .heading {
  margin: 0;
  color: $text-inverse;
  font-family: "Manrope", sans-serif;
  font-size: calc(20px * var(--ui-scale));
  font-weight: $font-weight-bold;
  line-height: calc(24px * var(--ui-scale));
}

.header .description {
  margin: 0;
  color: $subtitle;
  font-family: "Manrope", sans-serif;
  font-size: calc(12px * var(--ui-scale));
  font-weight: $font-weight-medium;
  line-height: calc(16px * var(--ui-scale));
}

.list {
  display: flex;
  flex-direction: column;
  gap: calc(16px * var(--ui-scale));
  width: 100%;
}
