@use '@styles/index.scss' as *;

.copy {
  position: absolute;
  z-index: 2;
  inset: 0;
}

.lead,
.aside {
  margin: 0;
  position: absolute;
  top: figma(363);
  font-size: figma(12);
  line-height: 1.45;
  font-family: $font-family-regular;
  letter-spacing: figma(-0.24);
}

.lead {
  width: figma(147);
  left: figma(19);
}

.aside {
  width: figma(140);
  left: figma(190);
}

.highlight {
  color: $terracotta-ce;
  font-family: $font-family-medium;
}
