@use '@styles/index.scss' as *;
@use 'sass:math';

.point {
  padding: 0;
  width: calc(24px * var(--ui-scale));
  height: calc(24px * var(--ui-scale));
  position: relative;
  border: 0;
  border-radius: 50%;
  background: linear-gradient(0deg, white 0%, white 100%), white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  appearance: none;
  cursor: pointer;
  pointer-events: auto;

  @include desktop-xs {
    width: calc(26px * var(--ui-desktop-scale));
    height: calc(26px * var(--ui-desktop-scale));
  }

  &::before,
  &::after {
    position: absolute;
    background: black;
    content: '';
  }

  &::after {
    width: calc(1px * var(--ui-scale));
    height: calc(8px * var(--ui-scale));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop-xs {
      width: calc(1px * var(--ui-desktop-scale));
      height: calc(8px * var(--ui-desktop-scale));
    }
  }

  &::before {
    width: calc(8px * var(--ui-scale));
    height: calc(1px * var(--ui-scale));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop-xs {
      width: calc(8px * var(--ui-desktop-scale));
      height: calc(1px * var(--ui-desktop-scale));
    }
  }
}
