@use '@styles/index.scss' as *;

.root {
  margin-top: calc(68px * var(--page-scale));
  width: calc(569px * var(--page-scale));
  height: 100%;
  min-height: 0;
  position: relative;
  background-color: $surface-gray;
}

.image {
  width: calc(377px * var(--page-scale));
  height: calc(100% + 31px * var(--page-scale));
  position: absolute;
  top: calc(-31px * var(--page-scale));
  left: calc(92px * var(--page-scale));
  display: block;
  object-fit: contain;
  object-position: bottom;
  pointer-events: none;
}
