@use '@styles/index.scss' as *;

.root {
  position: absolute;
  top: calc(2186px * var(--page-scale));
  left: calc(1480px * var(--page-scale));
  z-index: 2;
}

.slideNumber {
  margin: 0;
  color: $black;
  font-size: calc(35px * var(--page-scale));
  line-height: 1.45;
  font-family: $font-family-regular;
  font-weight: $font-weight-regular;
  letter-spacing: calc(-0.7px * var(--page-scale));
  text-transform: uppercase;
  white-space: nowrap;
}
