@use '@styles/index.scss' as *;

.root {
  width: calc(699px * var(--page-scale));
  height: calc(1218px * var(--page-scale));
  position: absolute;
  top: calc(419px * var(--page-scale));
  left: calc(815px * var(--page-scale));
  z-index: 1;
  background-color: $surface-gray;
  overflow: hidden;
}

.image {
  width: calc(439px * var(--page-scale));
  height: calc(1138px * var(--page-scale));
  position: absolute;
  top: calc(97px * var(--page-scale));
  left: calc(109px * var(--page-scale));
  display: block;
  object-fit: contain;
  object-position: bottom;
  pointer-events: none;
}
