@use '@styles/index.scss' as *;

.root {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.badge {
  margin: 0;
  position: absolute;
  top: calc(626px * var(--page-scale));
  left: calc(109px * var(--page-scale));
  z-index: 5;
  color: $black;
  font-size: calc(43.21px * var(--page-scale));
  line-height: 1.45;
  font-family: $font-family-regular;
  font-weight: $font-weight-regular;
  letter-spacing: calc(-0.8642px * var(--page-scale));
  text-transform: uppercase;
  white-space: nowrap;
}

.title {
  margin: 0;
  width: calc(1338px * var(--page-scale));
  position: absolute;
  top: calc(481px * var(--page-scale));
  left: calc(288px * var(--page-scale));
  z-index: 4;
}
