@use '@styles/index.scss' as *;

.media {
  width: figma(250);
  height: figma(431);
  position: absolute;
  top: figma(0);
  left: figma(92);
  z-index: 3;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: right top;
}
