@use '@styles/index.scss' as *;

.root {
  width: figma(375);
  height: figma(298);
  position: absolute;
  top: figma(232);
  left: figma(-38);
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: left top;
}
