@use '@styles/index.scss' as *;

.root {
  width: figma(266);
  position: absolute;
  top: figma(340);
  left: figma(19);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: figma(20);
  color: $black;
}

.title {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: figma(18);
  line-height: 1.3;
  font-family: $font-family-regular;
  letter-spacing: figma(-0.36);
  text-transform: uppercase;
}

.titleLine {
  white-space: nowrap;
}

.description {
  display: flex;
  flex-direction: column;
  gap: figma(4);
  font-size: figma(11);
  line-height: 1.45;
  font-family: $font-family-regular;
  letter-spacing: figma(-0.22);
}

.paragraph {
  margin: 0;
}
