@use '@styles/index.scss' as *;

.root {
  width: calc(708px * var(--page-scale));
  position: absolute;
  top: calc(314px * var(--page-scale));
  left: calc(109px * var(--page-scale));
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: calc(33px * var(--page-scale));
}

.body {
  display: flex;
  flex-direction: column;
  gap: calc(40px * var(--page-scale));
}
