@use '@styles/index.scss' as *;

.media {
  width: figma(169);
  height: 100%;
  position: absolute;
  top: 0;
  left: figma(174);
  z-index: 1;
  overflow: hidden;
}

.image {
  width: 175.15%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: -18.34%;
  display: block;
  object-fit: fill;
}
