@use '@styles/index.scss' as *;

.root {
  width: figma(338);
  height: figma(328);
  position: absolute;
  top: figma(27);
  left: figma(-6);
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  object-position: center top;
}
