@use '@styles/index.scss' as *;

.root {
  padding: calc(16px * var(--ui-scale)) calc(12px * var(--ui-scale));
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: calc(8px * var(--ui-scale));
  overflow: auto;
}

.button {
  padding: calc(10px * var(--ui-scale)) calc(16px * var(--ui-scale));
  border: 1px solid transparent;
  border-radius: calc(999px * var(--ui-scale));
  background: $black-30;
  color: $white;
  font-size: calc(14px * var(--ui-scale));
  cursor: pointer;
  flex-shrink: 0;

  &:hover {
    border-color: $white;
  }
}

.buttonActive {
  background: $white;
  color: $black;
}
