@use '@styles/index.scss' as *;

.root {
  width: calc(627px * var(--page-scale));
  max-width: 100%;
  min-height: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: calc(139px * var(--page-scale));
  color: $black;
  font-family: $font-family-regular;
}

.title {
  flex-shrink: 0;
}

.body {
  min-height: 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: calc(40px * var(--page-scale));
}

.textBlock {
  min-height: 0;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow: hidden;
  gap: calc(40px * var(--page-scale));
}

.cta {
  width: 100%;
  min-height: calc(95.048px * var(--page-scale));
  height: calc(95.048px * var(--page-scale));
  padding: 0 calc(148.276px * var(--page-scale));
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: calc(20.911px * var(--page-scale));
  line-height: calc(31.366px * var(--page-scale));
  letter-spacing: calc(2.6614px * var(--page-scale));
}
