@use '@styles/index.scss' as *;

.root {
  @include page-template-artboard;

  > :not(.media) {
    flex-shrink: 0;
  }
}

.title {
  padding: calc(18px * var(--page-scale)) calc(304px * var(--page-scale))
    calc(24px * var(--page-scale)) calc(109px * var(--page-scale));
  text-align: right;
}

.media {
  min-height: 0;
  flex: 1 1 auto;
}

.actions {
  padding: calc(73px * var(--page-scale)) calc(94px * var(--page-scale)) 0
    calc(109px * var(--page-scale));
  display: flex;
  justify-content: space-between;
  gap: calc(40px * var(--page-scale));
}

.skinType {
  margin: 0;
  width: calc(467px * var(--page-scale));
  color: $black;
  font-size: calc(39.835px * var(--page-scale));
  line-height: 1.45;
  font-family: $font-family-regular;
  font-weight: $font-weight-regular;
  letter-spacing: calc(-0.7967px * var(--page-scale));
  overflow-wrap: break-word;
  text-transform: uppercase;
}
