@use '@styles/index.scss' as *;

.root {
  position: relative;

  @include page-template-artboard;
}

.itemId {
  margin: 0;
  position: absolute;
  top: calc(322px * var(--page-scale));
  left: calc(803px * var(--page-scale));
  z-index: 2;
  color: $black;
  font-size: calc(43.603px * var(--page-scale));
  line-height: 1.45;
  font-family: $font-family-regular;
  font-weight: $font-weight-regular;
  letter-spacing: calc(-0.8721px * var(--page-scale));
  text-transform: uppercase;
  white-space: nowrap;
}
