@use '@styles/index.scss' as *;

.root {
  margin-top: calc(32px * var(--page-scale));
  min-height: 0;
  height: calc(100% - 32px * var(--page-scale));
  position: relative;
  grid-column: 1;
  background-color: $surface-gray;
}

.image {
  width: calc(540px * var(--page-scale));
  height: calc(100% + 17px * var(--page-scale));
  position: absolute;
  top: calc(-17px * var(--page-scale));
  left: calc(196px * var(--page-scale));
  display: block;
  object-fit: contain;
  object-position: bottom;
}
